TrksRecipeDoc/Web References/WikiSpaces.Message/Message.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:Message" xmlns:ns5="http://www.wikispaces.com/message/api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Message" targetNamespace="urn:Message" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wikispaces.com/message/api">
      <xsd:complexType name="MessageStruct">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="subject" type="xsd:string" />
          <xsd:element name="body" type="xsd:int" />
          <xsd:element name="html" type="xsd:int" />
          <xsd:element name="page_id" type="xsd:int" />
          <xsd:element name="topic_id" type="xsd:int" />
          <xsd:element name="responses" type="xsd:int" />
          <xsd:element name="latest_response_id" type="xsd:int" />
          <xsd:element name="date_response" type="xsd:int" />
          <xsd:element name="user_created" type="xsd:int" />
          <xsd:element name="user_created_username" type="xsd:string" />
          <xsd:element name="date_created" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessages">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns5:MessageStruct[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listTopicsRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="pageId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="listTopicsResponse">
    <wsdl:part name="messageList" type="ns5:ArrayOfMessages" />
  </wsdl:message>
  <wsdl:message name="listMessagesInTopicRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="topicId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="listMessagesInTopicResponse">
    <wsdl:part name="messageList" type="ns5:ArrayOfMessages" />
  </wsdl:message>
  <wsdl:message name="createTopicRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="pageId" type="xsd:int" />
    <wsdl:part name="subject" type="xsd:string" />
    <wsdl:part name="body" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createTopicResponse">
    <wsdl:part name="messageObj" type="ns5:MessageStruct" />
  </wsdl:message>
  <wsdl:message name="createReplyRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="topicId" type="xsd:int" />
    <wsdl:part name="subject" type="xsd:string" />
    <wsdl:part name="body" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createReplyResponse">
    <wsdl:part name="messageObj" type="ns5:MessageStruct" />
  </wsdl:message>
  <wsdl:message name="deleteMessageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="messageId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="deleteMessageResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="MessagePort">
    <wsdl:operation name="listTopics">
      <wsdl:input message="tns:listTopicsRequest" />
      <wsdl:output message="tns:listTopicsResponse" />
    </wsdl:operation>
    <wsdl:operation name="listMessagesInTopic">
      <wsdl:input message="tns:listMessagesInTopicRequest" />
      <wsdl:output message="tns:listMessagesInTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="createTopic">
      <wsdl:input message="tns:createTopicRequest" />
      <wsdl:output message="tns:createTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="createReply">
      <wsdl:input message="tns:createReplyRequest" />
      <wsdl:output message="tns:createReplyResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteMessage">
      <wsdl:input message="tns:deleteMessageRequest" />
      <wsdl:output message="tns:deleteMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageBinding" type="tns:MessagePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="listTopics">
      <soap:operation soapAction="urn:Message#MessageSOAPApi#listTopics" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMessagesInTopic">
      <soap:operation soapAction="urn:Message#MessageSOAPApi#listMessagesInTopic" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTopic">
      <soap:operation soapAction="urn:Message#MessageSOAPApi#createTopic" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createReply">
      <soap:operation soapAction="urn:Message#MessageSOAPApi#createReply" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMessage">
      <soap:operation soapAction="urn:Message#MessageSOAPApi#deleteMessage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <documentation />
    <wsdl:port name="MessagePort" binding="tns:MessageBinding">
      <soap:address location="http://www.wikispaces.com/message/api" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>