TrksRecipeDoc/Web References/WikiSpaces.Space/Space.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:Space" xmlns:ns5="http://www.wikispaces.com/space/api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Space" targetNamespace="urn:Space" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wikispaces.com/space/api">
      <xsd:complexType name="SpaceStruct">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="status" type="xsd:string" />
          <xsd:element name="image_type" type="xsd:string" />
          <xsd:element name="background_color" type="xsd:string" />
          <xsd:element name="highlight_color" type="xsd:string" />
          <xsd:element name="text_color" type="xsd:string" />
          <xsd:element name="link_color" type="xsd:string" />
          <xsd:element name="subscription_type" type="xsd:string" />
          <xsd:element name="subscription_level" type="xsd:string" />
          <xsd:element name="subscription_end_date" type="xsd:int" />
          <xsd:element name="is_crawled" type="xsd:boolean" />
          <xsd:element name="license" type="xsd:string" />
          <xsd:element name="discussions" type="xsd:string" />
          <xsd:element name="date_created" type="xsd:int" />
          <xsd:element name="date_updated" type="xsd:int" />
          <xsd:element name="user_created" type="xsd:int" />
          <xsd:element name="user_updated" type="xsd:int" />
          <xsd:element name="page_count" type="xsd:int" />
          <xsd:element name="view_group" type="xsd:string" />
          <xsd:element name="edit_group" type="xsd:string" />
          <xsd:element name="create_group" type="xsd:string" />
          <xsd:element name="message_edit_group" type="xsd:string" />
          <xsd:element name="edits" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSpaces">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns5:SpaceStruct[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TemplateStruct">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="space_id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTemplates">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns5:TemplateStruct[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Map">
        <xsd:all>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMaps">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns5:Map[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MemberStruct">
        <xsd:all>
          <xsd:element name="userId" type="xsd:int" />
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMembers">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns5:MemberStruct[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findSpacesRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="filter" type="ns5:ArrayOfMaps" />
  </wsdl:message>
  <wsdl:message name="findSpacesResponse">
    <wsdl:part name="spaceList" type="ns5:ArrayOfSpaces" />
  </wsdl:message>
  <wsdl:message name="listSpacesRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listSpacesResponse">
    <wsdl:part name="spaceList" type="ns5:ArrayOfSpaces" />
  </wsdl:message>
  <wsdl:message name="listUserSpacesRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="listUserSpacesResponse">
    <wsdl:part name="spaceList" type="ns5:ArrayOfSpaces" />
  </wsdl:message>
  <wsdl:message name="listTemplatesRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listTemplatesResponse">
    <wsdl:part name="templateList" type="ns5:ArrayOfTemplates" />
  </wsdl:message>
  <wsdl:message name="getSpaceRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSpaceResponse">
    <wsdl:part name="space" type="ns5:SpaceStruct" />
  </wsdl:message>
  <wsdl:message name="createSpaceRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="access_level" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createSpaceResponse">
    <wsdl:part name="space" type="ns5:SpaceStruct" />
  </wsdl:message>
  <wsdl:message name="createSpaceFromTemplateRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="access_level" type="xsd:string" />
    <wsdl:part name="templateId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createSpaceFromTemplateResponse">
    <wsdl:part name="space" type="ns5:SpaceStruct" />
  </wsdl:message>
  <wsdl:message name="updateSpaceRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="space" type="ns5:SpaceStruct" />
  </wsdl:message>
  <wsdl:message name="updateSpaceResponse">
    <wsdl:part name="updatedSpace" type="ns5:SpaceStruct" />
  </wsdl:message>
  <wsdl:message name="deleteSpaceRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="deleteSpaceResponse">
    <wsdl:part name="deleted" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="renameSpaceRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="newName" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="renameSpaceResponse">
    <wsdl:part name="deleted" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="undeleteSpaceRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="undeleteSpaceResponse">
    <wsdl:part name="undeleted" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="isMemberRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="isMemberResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="isOrganizerRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="isOrganizerResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="addMemberRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="addMemberResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="addOrganizerRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="addOrganizerResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="removeMemberRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="removeMemberResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="listMembersRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="listMembersResponse">
    <wsdl:part name="memberList" type="ns5:ArrayOfMembers" />
  </wsdl:message>
  <wsdl:portType name="SpacePort">
    <wsdl:operation name="findSpaces">
      <wsdl:input message="tns:findSpacesRequest" />
      <wsdl:output message="tns:findSpacesResponse" />
    </wsdl:operation>
    <wsdl:operation name="listSpaces">
      <wsdl:input message="tns:listSpacesRequest" />
      <wsdl:output message="tns:listSpacesResponse" />
    </wsdl:operation>
    <wsdl:operation name="listUserSpaces">
      <wsdl:input message="tns:listUserSpacesRequest" />
      <wsdl:output message="tns:listUserSpacesResponse" />
    </wsdl:operation>
    <wsdl:operation name="listTemplates">
      <wsdl:input message="tns:listTemplatesRequest" />
      <wsdl:output message="tns:listTemplatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpace">
      <wsdl:input message="tns:getSpaceRequest" />
      <wsdl:output message="tns:getSpaceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSpace">
      <wsdl:input message="tns:createSpaceRequest" />
      <wsdl:output message="tns:createSpaceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSpaceFromTemplate">
      <wsdl:input message="tns:createSpaceFromTemplateRequest" />
      <wsdl:output message="tns:createSpaceFromTemplateResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSpace">
      <wsdl:input message="tns:updateSpaceRequest" />
      <wsdl:output message="tns:updateSpaceResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSpace">
      <wsdl:input message="tns:deleteSpaceRequest" />
      <wsdl:output message="tns:deleteSpaceResponse" />
    </wsdl:operation>
    <wsdl:operation name="renameSpace">
      <wsdl:input message="tns:renameSpaceRequest" />
      <wsdl:output message="tns:renameSpaceResponse" />
    </wsdl:operation>
    <wsdl:operation name="undeleteSpace">
      <wsdl:input message="tns:undeleteSpaceRequest" />
      <wsdl:output message="tns:undeleteSpaceResponse" />
    </wsdl:operation>
    <wsdl:operation name="isMember">
      <wsdl:input message="tns:isMemberRequest" />
      <wsdl:output message="tns:isMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="isOrganizer">
      <wsdl:input message="tns:isOrganizerRequest" />
      <wsdl:output message="tns:isOrganizerResponse" />
    </wsdl:operation>
    <wsdl:operation name="addMember">
      <wsdl:input message="tns:addMemberRequest" />
      <wsdl:output message="tns:addMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="addOrganizer">
      <wsdl:input message="tns:addOrganizerRequest" />
      <wsdl:output message="tns:addOrganizerResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeMember">
      <wsdl:input message="tns:removeMemberRequest" />
      <wsdl:output message="tns:removeMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="listMembers">
      <wsdl:input message="tns:listMembersRequest" />
      <wsdl:output message="tns:listMembersResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpaceBinding" type="tns:SpacePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="findSpaces">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#findSpaces" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listSpaces">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#listSpaces" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUserSpaces">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#listUserSpaces" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTemplates">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#listTemplates" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpace">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#getSpace" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSpace">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#createSpace" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSpaceFromTemplate">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#createSpaceFromTemplate" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSpace">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#updateSpace" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSpace">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#deleteSpace" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renameSpace">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#renameSpace" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="undeleteSpace">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#undeleteSpace" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isMember">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#isMember" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isOrganizer">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#isOrganizer" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMember">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#addMember" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrganizer">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#addOrganizer" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeMember">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#removeMember" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMembers">
      <soap:operation soapAction="urn:Space#SpaceSOAPApi#listMembers" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Space" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpaceService">
    <documentation />
    <wsdl:port name="SpacePort" binding="tns:SpaceBinding">
      <soap:address location="http://www.wikispaces.com/space/api" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>