TrksRecipeDoc/Web References/WikiSpaces.Page/Page.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:Page" xmlns:ns5="http://www.wikispaces.com/page/api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Page" targetNamespace="urn:Page" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wikispaces.com/page/api">
      <xsd:complexType name="PageStruct">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="versionId" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="spaceId" type="xsd:int" />
          <xsd:element name="latest_version" type="xsd:int" />
          <xsd:element name="versions" type="xsd:int" />
          <xsd:element name="is_read_only" type="xsd:boolean" />
          <xsd:element name="view_group" type="xsd:string" />
          <xsd:element name="edit_group" type="xsd:string" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="content" type="xsd:string" />
          <xsd:element name="html" type="xsd:string" />
          <xsd:element name="date_created" type="xsd:int" />
          <xsd:element name="user_created" type="xsd:int" />
          <xsd:element name="user_created_username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPages">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="ns5:PageStruct[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPageResponse">
    <wsdl:part name="page" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="getPageWithVersionRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getPageWithVersionResponse">
    <wsdl:part name="page" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="listPageVersionsRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listPageVersionsResponse">
    <wsdl:part name="pageList" type="ns5:ArrayOfPages" />
  </wsdl:message>
  <wsdl:message name="listPagesRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="listPagesResponse">
    <wsdl:part name="pageList" type="ns5:ArrayOfPages" />
  </wsdl:message>
  <wsdl:message name="updatePageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="page" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="updatePageResponse">
    <wsdl:part name="updatedPage" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="createPageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="content" type="xsd:string" />
    <wsdl:part name="comment" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createPageResponse">
    <wsdl:part name="page" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="renamePageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="page" type="ns5:PageStruct" />
    <wsdl:part name="new_name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="renamePageResponse">
    <wsdl:part name="page" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="deletePageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="spaceId" type="xsd:int" />
    <wsdl:part name="page" type="ns5:PageStruct" />
  </wsdl:message>
  <wsdl:message name="deletePageResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="lockPageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="pageId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="lockPageResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="unlockPageRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="pageId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="unlockPageResponse">
    <wsdl:part name="result" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="PagePort">
    <wsdl:operation name="getPage">
      <wsdl:input message="tns:getPageRequest" />
      <wsdl:output message="tns:getPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPageWithVersion">
      <wsdl:input message="tns:getPageWithVersionRequest" />
      <wsdl:output message="tns:getPageWithVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="listPageVersions">
      <wsdl:input message="tns:listPageVersionsRequest" />
      <wsdl:output message="tns:listPageVersionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="listPages">
      <wsdl:input message="tns:listPagesRequest" />
      <wsdl:output message="tns:listPagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="updatePage">
      <wsdl:input message="tns:updatePageRequest" />
      <wsdl:output message="tns:updatePageResponse" />
    </wsdl:operation>
    <wsdl:operation name="createPage">
      <wsdl:input message="tns:createPageRequest" />
      <wsdl:output message="tns:createPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="renamePage">
      <wsdl:input message="tns:renamePageRequest" />
      <wsdl:output message="tns:renamePageResponse" />
    </wsdl:operation>
    <wsdl:operation name="deletePage">
      <wsdl:input message="tns:deletePageRequest" />
      <wsdl:output message="tns:deletePageResponse" />
    </wsdl:operation>
    <wsdl:operation name="lockPage">
      <wsdl:input message="tns:lockPageRequest" />
      <wsdl:output message="tns:lockPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="unlockPage">
      <wsdl:input message="tns:unlockPageRequest" />
      <wsdl:output message="tns:unlockPageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PageBinding" type="tns:PagePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getPage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#getPage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPageWithVersion">
      <soap:operation soapAction="urn:Page#PageSOAPApi#getPageWithVersion" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPageVersions">
      <soap:operation soapAction="urn:Page#PageSOAPApi#listPageVersions" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPages">
      <soap:operation soapAction="urn:Page#PageSOAPApi#listPages" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#updatePage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#createPage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renamePage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#renamePage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#deletePage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockPage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#lockPage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlockPage">
      <soap:operation soapAction="urn:Page#PageSOAPApi#unlockPage" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Page" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PageService">
    <documentation />
    <wsdl:port name="PagePort" binding="tns:PageBinding">
      <soap:address location="http://www.wikispaces.com/page/api" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>