TrksRecipeDoc/Web References/WikiSpaces.Session/Session.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:Session" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Session" targetNamespace="urn:Session" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns="http://schemas.xmlsoap.org/wsdl/" />
  <wsdl:message name="loginRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="becomeUserRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="username" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="becomeUserResponse">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="SessionPort">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="becomeUser">
      <wsdl:input message="tns:becomeUserRequest" />
      <wsdl:output message="tns:becomeUserResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionBinding" type="tns:SessionPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:Session#SessionSOAPApi#login" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Session" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Session" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="becomeUser">
      <soap:operation soapAction="urn:Session#SessionSOAPApi#becomeUser" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Session" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Session" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <documentation>description</documentation>
    <wsdl:port name="SessionPort" binding="tns:SessionBinding">
      <soap:address location="http://www.wikispaces.com/site/api" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>